bin/
obj/
report/
*.iml
**/Thumbs.db
.idea/
out/

assets/fonts/**/*.svg
assets/fonts/**/*ttf.hash
assets/fonts/**/*.eot
assets/fonts/**/*.woff
/DepsInstall.hx.n

tests/unit/report/
tests/unit/.temp/
tests/unit/bin/
export
tests/unit/src/TestSuite.hx
dump
.vscode
*.diff
*.hxproj
.unittest